                                @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
                            @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
                            * {
                                padding: 0;
                                margin: 0;
                            }
                            
                            nav {
                                padding: 0.5rem;
                            }
                            
                            #logo img {
                                width: 3rem;
                                height: 3rem;
                            }
                            
                            header {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                            }
                            
                            header>.header-container {
                                display: flex;
                                background-color: #e8fbff;
                                border-radius: 0.7rem;
                                border: #a0a0a0 0.13rem solid;
                                width: 90%;
                                box-shadow: 8px 8px 8px rgb(179, 179, 179);
                            }
                            
                            #covid {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                height: 45rem;
                                width: 40%;
                            }
                            
                            #covid19-info {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                height: 45rem;
                                width: 50%;
                            }
                            
                            #covid>h1 {
                                font-family: 'Poppins', sans-serif;
                                font-size: 7rem;
                                color: #00819e;
                            }
                            
                            #covid19-info>p {
                                font-family: 'Dongle', sans-serif;
                                font-size: 2rem;
                            }
                            
                            #covid19-info>h2 {
                                font-family: 'Dongle', sans-serif;
                                font-size: 2rem;
                            }
                            
                            main {
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                height: 60rem;
                                width: 100%;
                            }
                            
                            main>.main-container {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                height: 35rem;
                                width: 100%;
                            }
                            
                            hr {
                                width: 15rem;
                                display: flex;
                                align-self: center;
                                margin-bottom: 1rem;
                            }
                            
                            #symptoms {
                                width: 20rem;
                                margin-top: 1.5rem;
                            }
                            
                            #divider {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                width: 5rem;
                            }
                            
                            #divider>hr {
                                transform: rotate(-90deg);
                                width: 20rem;
                                display: flex;
                            }
                            
                            #covid-protection1,
                            #covid-protection2,
                            #covid-protection3 {
                                flex-direction: column;
                                display: flex;
                                width: 30rem;
                                justify-content: center;
                            }
                            
                            #covid-protection1>img,
                            #covid-protection2>img,
                            #covid-protection3>img {
                                display: flex;
                                align-self: center;
                                width: 5rem;
                                height: 5rem;
                            }
                            
                            #covid-protection1>h2,
                            #covid-protection2>h2,
                            #covid-protection3>h2 {
                                font-family: 'Dongle', sans-serif;
                                font-size: 2.5rem;
                                display: flex;
                                align-self: center;
                            }
                            
                            #covid-protection1>p,
                            #covid-protection2>p,
                            #covid-protection3>p {
                                display: flex;
                                align-self: center;
                                line-height: 1rem;
                                font-family: 'Dongle', sans-serif;
                                font-size: 1.8rem;
                                width: 50%;
                            }
                            
                            .main-more-container {
                                display: flex;
                                flex-direction: row;
                                background-color: #01a7cc;
                                border-top-left-radius: 1.5rem;
                                border-top-right-radius: 1.5rem;
                                height: 30rem;
                            }
                            
                            #symptoms-container {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                height: 100%rem;
                                width: 100%;
                            }
                            
                            #symptoms-container>h2 {
                                font-family: 'Poppins', sans-serif;
                                font-size: 2rem;
                                color: #e8fbff;
                            }
                            
                            #staysafe-container {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                height: 20rem;
                                width: 100%;
                            }
                            
                            #staysafe-container>h2 {
                                font-family: 'Poppins', sans-serif;
                                font-size: 4rem;
                                color: #e8fbff;
                            }
                            
                            #staysafe-container>img {
                                width: 4rem;
                                height: 4rem;
                            }
                            
                            #staysafe-container>p {
                                font-family: 'Poppins', sans-serif;
                                color: aliceblue;
                                width: 45rem;
                            }
                            
                            .symptoms-main-divider {
                                font-family: 'Poppins', sans-serif;
                                color: aliceblue;
                                display: flex;
                                flex-direction: row;
                                align-self: center;
                                align-items: center;
                                width: 40rem;
                                height: 20rem;
                            }
                            
                            #symptoms-divider1,
                            #symptoms-divider2,
                            #symptoms-divider3 {
                                display: flex;
                                flex-direction: column;
                                width: 25rem;
                            }
                            
                            @media only screen and (max-width: 1550px) {
                                header {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                }
                                header>.header-container {
                                    display: flex;
                                    flex-direction: column;
                                    background-color: #e8fbff;
                                    border-radius: 0.7rem;
                                    border: #a0a0a0 0.13rem solid;
                                    width: 90%;
                                    box-shadow: 8px 8px 8px rgb(179, 179, 179);
                                }
                                #covid>h1 {
                                    font-family: 'Poppins', sans-serif;
                                    font-size: 6.5rem;
                                    color: #00819e;
                                }
                                #covid {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    height: 25rem;
                                    width: 100%;
                                }
                                #covid19-info {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    height: 30rem;
                                    width: 100%;
                                }
                                #covid19-info>p {
                                    font-family: 'Dongle', sans-serif;
                                    font-size: 2rem;
                                    width: 80%;
                                }
                                .main-more-container {
                                    display: flex;
                                    flex-direction: row;
                                    background-color: #01a7cc;
                                    border-top-left-radius: 1.5rem;
                                    border-top-right-radius: 1.5rem;
                                    height: 30rem;
                                }
                                #symptoms-container {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    height: 100%rem;
                                    width: 100%;
                                }
                                #symptoms-container>h2 {
                                    font-family: 'Poppins', sans-serif;
                                    font-size: 2rem;
                                    color: #e8fbff;
                                }
                                #staysafe-container {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    height: 20rem;
                                    width: 100%;
                                }
                                #staysafe-container>h2 {
                                    font-family: 'Poppins', sans-serif;
                                    font-size: 3.5rem;
                                    color: #e8fbff;
                                }
                                #staysafe-container>img {
                                    width: 4rem;
                                    height: 4rem;
                                }
                                #staysafe-container>p {
                                    font-family: 'Poppins', sans-serif;
                                    color: aliceblue;
                                    width: 40rem;
                                }
                                .symptoms-main-divider {
                                    font-family: 'Poppins', sans-serif;
                                    color: aliceblue;
                                    display: flex;
                                    flex-direction: row;
                                    align-self: center;
                                    align-items: center;
                                    width: 40rem;
                                    height: 20rem;
                                }
                                #symptoms-divider1,
                                #symptoms-divider2,
                                #symptoms-divider3 {
                                    display: flex;
                                    flex-direction: column;
                                    width: 25rem;
                                }
                            }
                            
                            @media only screen and (max-width: 1390px) {
                                header {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                }
                                header>.header-container {
                                    display: flex;
                                    flex-direction: column;
                                    background-color: #e8fbff;
                                    border-radius: 0.7rem;
                                    border: #a0a0a0 0.13rem solid;
                                    width: 90%;
                                    box-shadow: 8px 8px 8px rgb(179, 179, 179);
                                }
                                #covid>h1 {
                                    font-family: 'Poppins', sans-serif;
                                    font-size: 6.5rem;
                                    color: #00819e;
                                }
                                #covid {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    height: 25rem;
                                    width: 100%;
                                }
                                #covid19-info {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    height: 30rem;
                                    width: 100%;
                                }
                                #covid19-info>p {
                                    font-family: 'Dongle', sans-serif;
                                    font-size: 2rem;
                                    width: 80%;
                                }
                                main {
                                    height: 90rem;
                                }
                                .main-container {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    height: 120rem;
                                    width: 100%;
                                }
                                hr {
                                    width: 15rem;
                                    display: flex;
                                    align-self: center;
                                    margin-bottom: 1rem;
                                }
                                #symptoms {
                                    width: 20rem;
                                    margin-top: 1.5rem;
                                }
                                #divider {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    height: 5rem;
                                    width: 100%;
                                }
                                #divider>hr {
                                    width: 50rem;
                                    transform: rotate(180deg);
                                }
                                #covid-protection1,
                                #covid-protection2,
                                #covid-protection3 {
                                    flex-direction: column;
                                    display: flex;
                                    width: 30rem;
                                    justify-content: center;
                                }
                                #covid-protection1>img,
                                #covid-protection2>img,
                                #covid-protection3>img {
                                    display: flex;
                                    align-self: center;
                                    width: 5rem;
                                    height: 5rem;
                                }
                                #covid-protection1>h2,
                                #covid-protection2>h2,
                                #covid-protection3>h2 {
                                    font-family: 'Dongle', sans-serif;
                                    font-size: 2.5rem;
                                    display: flex;
                                    align-self: center;
                                }
                                #covid-protection1>p,
                                #covid-protection2>p,
                                #covid-protection3>p {
                                    display: flex;
                                    align-self: center;
                                    line-height: 1rem;
                                    font-family: 'Dongle', sans-serif;
                                    font-size: 1.8rem;
                                    width: 50%;
                                }
                                .main-more-container {
                                    display: flex;
                                    flex-direction: column;
                                    background-color: #01a7cc;
                                    border-top-left-radius: 1.5rem;
                                    border-top-right-radius: 1.5rem;
                                    height: 60rem;
                                }
                                #symptoms-container {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    height: 40rem;
                                    width: 100%;
                                }
                                #symptoms-container>h2 {
                                    font-family: 'Poppins', sans-serif;
                                    font-size: 2rem;
                                    color: #e8fbff;
                                }
                                #staysafe-container {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    height: 25rem;
                                    width: 100%;
                                }
                                #staysafe-container>h2 {
                                    font-family: 'Poppins', sans-serif;
                                    font-size: 3.5rem;
                                    color: #e8fbff;
                                }
                                #staysafe-container>img {
                                    width: 4rem;
                                    height: 4rem;
                                }
                                #staysafe-container>p {
                                    font-family: 'Poppins', sans-serif;
                                    color: aliceblue;
                                    width: 40rem;
                                }
                                .symptoms-main-divider {
                                    font-family: 'Poppins', sans-serif;
                                    color: aliceblue;
                                    display: flex;
                                    flex-direction: row;
                                    align-self: center;
                                    align-items: center;
                                    width: 40rem;
                                    height: 20rem;
                                }
                                #symptoms-divider1,
                                #symptoms-divider2,
                                #symptoms-divider3 {
                                    display: flex;
                                    flex-direction: column;
                                    width: 25rem;
                                }
                                @media only screen and (max-width: 1166px) {
                                    header {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                    }
                                    header>.header-container {
                                        display: flex;
                                        flex-direction: column;
                                        background-color: #e8fbff;
                                        border-radius: 0.7rem;
                                        border: #a0a0a0 0.13rem solid;
                                        width: 90%;
                                        box-shadow: 8px 8px 8px rgb(179, 179, 179);
                                    }
                                    #covid>h1 {
                                        font-family: 'Poppins', sans-serif;
                                        font-size: 6rem;
                                        color: #00819e;
                                    }
                                    #covid {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        height: 25rem;
                                        width: 100%;
                                    }
                                    #covid19-info {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        height: 30rem;
                                        width: 100%;
                                    }
                                    #covid19-info>p {
                                        font-family: 'Dongle', sans-serif;
                                        font-size: 1.5rem;
                                        width: 80%;
                                    }
                                    main {
                                        height: 90rem;
                                    }
                                    .main-container {
                                        display: flex;
                                        flex-direction: column;
                                        height: 120rem;
                                        width: 0;
                                    }
                                    hr {
                                        width: 15rem;
                                        display: flex;
                                        align-self: center;
                                        margin-bottom: 1rem;
                                    }
                                    #symptoms {
                                        width: 20rem;
                                        margin-top: 1.5rem;
                                    }
                                    #divider {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        height: 5rem;
                                        width: 100%;
                                    }
                                    #divider>hr {
                                        width: 50rem;
                                        transform: rotate(180deg);
                                    }
                                    #covid-protection1,
                                    #covid-protection2,
                                    #covid-protection3 {
                                        flex-direction: column;
                                        display: flex;
                                        width: 30rem;
                                        justify-content: center;
                                    }
                                    #covid-protection1>img,
                                    #covid-protection2>img,
                                    #covid-protection3>img {
                                        display: flex;
                                        align-self: center;
                                        width: 5rem;
                                        height: 5rem;
                                    }
                                    #covid-protection1>h2,
                                    #covid-protection2>h2,
                                    #covid-protection3>h2 {
                                        font-family: 'Dongle', sans-serif;
                                        font-size: 2.5rem;
                                        display: flex;
                                        align-self: center;
                                    }
                                    #covid-protection1>p,
                                    #covid-protection2>p,
                                    #covid-protection3>p {
                                        display: flex;
                                        align-self: center;
                                        line-height: 1rem;
                                        font-family: 'Dongle', sans-serif;
                                        font-size: 1.8rem;
                                        width: 50%;
                                    }
                                    .main-more-container {
                                        display: flex;
                                        flex-direction: column;
                                        background-color: #01a7cc;
                                        border-top-left-radius: 1.5rem;
                                        border-top-right-radius: 1.5rem;
                                        height: 60rem;
                                    }
                                    #symptoms-container {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        height: 40rem;
                                        width: 100%;
                                    }
                                    #symptoms-container>h2 {
                                        font-family: 'Poppins', sans-serif;
                                        font-size: 2rem;
                                        color: #e8fbff;
                                    }
                                    #staysafe-container {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        height: 25rem;
                                        width: 100%;
                                    }
                                    #staysafe-container>h2 {
                                        font-family: 'Poppins', sans-serif;
                                        font-size: 3.5rem;
                                        color: #e8fbff;
                                    }
                                    #staysafe-container>img {
                                        width: 4rem;
                                        height: 4rem;
                                    }
                                    #staysafe-container>p {
                                        font-family: 'Poppins', sans-serif;
                                        color: aliceblue;
                                        width: 40rem;
                                    }
                                    .symptoms-main-divider {
                                        font-family: 'Poppins', sans-serif;
                                        color: aliceblue;
                                        display: flex;
                                        flex-direction: row;
                                        align-self: center;
                                        align-items: center;
                                        width: 40rem;
                                        height: 20rem;
                                    }
                                    #symptoms-divider1,
                                    #symptoms-divider2,
                                    #symptoms-divider3 {
                                        display: flex;
                                        flex-direction: column;
                                        width: 25rem;
                                    }
                                }